/*****************************
    COLOUR PALLET
******************************/

$white: #ffffff;
$green: #084;
$light-green: #00AA50;

/*****************************
    FORMS
******************************/

/**********
    FORM SIZES
***********/

$input-height: 34px;
$input-margin-bottom: 15px;
