/*****************************
    FORMS
******************************/

/*****************************
    COLOUR PALLET
******************************/

$white: #ffffff;
$green: #084;
$light-green: #00AA50;

/**********
    FORM SIZES
***********/

$input-height: 34px;
$input-margin-bottom: 15px;

/**********
    FORM COLOURS
***********/

$input-border: #ccc;
$label-color: #666;
$input-touch-active-bg: #1d5293;
$input-touch-bg: #f5f7fa;
$input-error: #C7390E;