/*****************************
    FORMS
******************************/
/*****************************
    COLOUR PALLET
******************************/
/**********
    FORM SIZES
***********/
/**********
    FORM COLOURS
***********/
.search-form {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 10px 15px;
  transform: translate(0, -50%);
  transition: all 0.5s ease-out; }
  .search-form.has-results {
    position: relative;
    top: 0;
    padding: 10px 0 0;
    transform: translate(0, 0); }

.btn {
  display: block;
  width: 100%;
  height: 34px;
  margin: 25px auto 15px;
  padding: 0px;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 15px;
  color: #ffffff;
  border-radius: 3px;
  background: #084;
  transition: background 0.3s ease-out; }
  .btn:hover, .btn:focus {
    color: #ffffff;
    background: #00AA50; }

.form-control {
  margin-bottom: 15px; }
